<a href="https://colab.research.google.com/github/AkashMuttalwad/python-_Basic-/blob/main/4_Python_Basics_Flow_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#control flow 
#1)Condition Statment 
#a) if
#b) if-elif
#c) if-elif-else

name=input("Entername")
if name=="akash":
  print("hello akash good evening")
  print("how are you!!")

Enternameakash
hello akash good evening
how are you!!

In [ ]:
# Write a Program to find Biggest of given 2 Numbers from the Commad Prompt?

a1=int(input("Enterfirstname"))
a2=int(input("Entersecondname")) 
if a1>a2:
 print ("biggest number is",a1)
else:
 print("biggest number is",a2)

Enterfirstname501
Entersecondname269
biggest number is 501

In [ ]:
#homework
#Write a Program to find Biggest of given 3 Numbers from the Commad Prompt?

x1=int(input("enterfirstname"))
x2=int(input("entersecondname"))
x3=int(input("enterthirdname"))
if x2>x1<x3:
  print("biggestnumberis",x2)
  
else:
  print("biggest number is",x3)

enterfirstname500
entersecondname450
enterthirdname750
biggest number is 750

In [ ]:
#Write a program to find smallest of given 2 numbers?
a1=int(input("enterfirstname"))
a2=int(input("entersecondnumber"))
if a1<a2:
  print("smallestnumber",a1)
else:
   print("smallestnumber",a2)

enterfirstname55
entersecondnumber56
smallestnumber 55

In [ ]:
#Write a program to find smallest of given 3 numbers?
x1=int(input("enterfirstname"))
x2=int(input("entersecondname"))
x3=int(input("enterthirdname"))
if x1>x2>x3:
  print("smallestnumber",x1)
else:
  print("smallestnumber",x3)

enterfirstname80
entersecondname120
enterthirdname78
smallestnumber 78

In [ ]:
#Write a program to check whether the given number is even or odd?
x1=int(input("number"))
x2=int(input("number"))
if x1>x2:
  print("evennumber",x1) 
else:
  print("odd number",x2)

number12
number15
odd number 15

In [ ]:
# Iterative Statements:
#1)for loop
#2) while loop

#If we want to execute some action for every element present in some sequence (it may be string or collection) then we should go for for loop.
## To print characters present in the given string
a="AkashMuttalwad"
for x in a:
  print(x)

A
k
a
s
h
M
u
t
t
a
l
w
a
d

In [ ]:
a="Rajesh"
for x in a:
  print(x)

R
a
j
e
s
h

In [ ]:
#for print shree ram 10 times
for x in range(10):
 print("shree Ram!!")

shree Ram!!
shree Ram!!
shree Ram!!
shree Ram!!
shree Ram!!
shree Ram!!
shree Ram!!
shree Ram!!
shree Ram!!
shree Ram!!

In [ ]:
#for anand 5 times 
for a in range(5):
  print ("anand")

anand
anand
anand
anand
anand

In [ ]:
## To display odd numbers from 0 to 10
for a in range(11):
 if (a%2!=0):
  print(a)

1
3
5
7
9

In [ ]:
## for decending order
for x in range (15,0,-3):
  print(x)

15
12
9
6
3

In [ ]:
#sam of the numbers
eval(input("enterlist"))
sum=0;
for x in list:
  sum=sum+x;
  print("the sum",sum)

enterlist1,2,5,4,14,8,5,70
the sum 1
the sum 3
the sum 6
the sum 10
the sum 15

In [ ]:
# While Loop
# when condition is false ,then we should go for while loop.
# To print numbers from 1 to 8 by using while loop
a=1
while a<=8:
 a=a+1
print(a)

9

In [ ]:
x=1
while x<10:
 x=x+1
 print(x)

2
3
4
5
6
7
8
9
10

In [ ]:
a=1
while a<12:
  a=a+1
  print(a)

2
3
4
5
6
7
8
9
10
11
12

In [ ]:
#Nested Loop:
for m in range(5):
  for n in range(5):
    print("m" ,m, "n" ,n )
m 0 n 0
m 0 n 1
m 0 n 2
m 0 n 3
m 0 n 4
m 1 n 0
m 1 n 1
m 1 n 2
m 1 n 3
m 1 n 4
m 2 n 0
m 2 n 1
m 2 n 2
m 2 n 3
m 2 n 4
m 3 n 0
m 3 n 1
m 3 n 2
m 3 n 3
m 3 n 4
m 4 n 0
m 4 n 1
m 4 n 2
m 4 n 3
m 4 n 4
# a Program to dispaly *'s in Right Angled Triangled Form:
x=int(input("Enter number of rows : "))

for i in range(0,x):
  for j in range(0,i+1):
    print("*" ,end='') 
  print()
Enter number of rows : 7
*
**
***
****
*****
******
*******
# for downwoed side:
x=int(input("Number of rows : "))
for i in range(x+1, 0, -1):
  for j in range(0,i):
    print("*" ,end='')
  print()
Number of rows : 5
******
*****
****
***
**
*
#break statement:
for i in range(5,20):
  if i==15:
    break
  print(i)
5
6
7
8
9
10
11
12
13
14
#using break statement:
x=eval(input("Enters cars price: "))
for i in x:
  if i>=500:
    break
  print("Average Budjet" ,i)
print()
Enters cars price: 200, 150,350, 400, 650, 700, 300
Average Budjet 200
Average Budjet 150
Average Budjet 350
Average Budjet 400

#continue statement:
x= eval(input("enter your order list:="))
for i in x:
  if i>=70:
    continue               
  print("your %d burgers will be deliver in 30 mins "%(i))
enter your order list:=40, 50, 20, 80, 100, 55
your 40 burgers will be deliver in 30 mins 
your 50 burgers will be deliver in 30 mins 
your 20 burgers will be deliver in 30 mins 
your 55 burgers will be deliver in 30 mins 
#else:
x = [20,86,565,598,765,85,249,465]
for i in x:
  if i>=500:
    print("I dont have this items",i)
    continue
  else:
    print(i)
20
86
I dont have this items 565
I dont have this items 598
I dont have this items 765
85
249
465
#pass statement:
for i in range(200,300):
  if i%4==0:
    print(i)
  else:
  pass
  File "<ipython-input-100-b419d9ebe740>", line 6
    pass
       ^
IndentationError: expected an indented block
for i in range(100,200):
  if i%7==0:
    print(i)
  else:
    pass
105
112
119
126
133
140
147
154
161
168
175
182
189
196