<a href="https://colab.research.google.com/github/AkashMuttalwad/python-_Basic-/blob/main/5_Python_Basics_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String**

 Any sequence of characters within either single quotes or double quotes is 

considered as a String.

We can define multi-line String literals by using triple single or double quotes.

We can also use triple quotes to use single quotes or double quotes as symbol inside String literal

In [ ]:
s= 'mathmatics'
s = "math"
a = ''' This is a "mathmatic" equavation'''

# **How to access characters of a string**

1 - By using index

2 - By using slice operator

In [5]:
# 1. accessing characters by using index
s[0]

NameError: ignored

In [6]:
a[-2]
'f'

NameError: ignored

In [8]:
# 2. Accessing characters by using slice operator
#  Syntax: s[begin index : end index : step]
a="my name is akash muttalwad!!!"
a[1:5:1]

'y na'

In [ ]:
a[::] # for full sentance print type [::]

'my name is akash muttalwad!!!'

In [ ]:
a[::-5]

'!wuain'

In [ ]:
# Note: Slice operator never raises IndexError
a[100:3:-3]

'!dlt a  a'

# **len() in-built function**

In [11]:
len(a)

29

 Program to access each Character of String in Forward and Backward Direction by using while Loop.

In [22]:
a="my name is akash muttalwad!!"
n=len(a)
i=0
print("Forwarddirection")
while i<n:
  print(a[i],end='')
  i+=1

print("Backward direction")
while i>n:
  print(a[i],end="")
i= -1
while i>=-n:
  print(a[i],end='')
  i = i-1

Forwarddirection
my name is akash muttalwad!!Backward direction
!!dawlattum hsaka si eman ym

# **Checking Membership:**

We can check whether the character or string is the member of another string or not by using in and not in operators.

In [ ]:
a="akash"
"s" in a

True

In [ ]:
"m" in a

False

# **Comparison of Strings**

We can use comparison operators (<, <=, >, >=) and equality operators (==, !=) for strings.

In [ ]:
a1=("enter first string data :")
a2= (" enter second string data :")
if a1==a2:
  print (" both strings are equal:")
elif a2>a1:
  print ("first string is greatere then second string:")
else:
 print ("second string is greater the first string:")

second string is greater the first string:

# **Removing Spaces from the String:**

1)rstrip()-->To remove spaces at right hand side.

2) lstrip()--> To remove spaces at left hand side.

3) strip()-->To remove spaces both sides.

In [ ]:
city=input("enter your city name :")
acity=city.strip()
if acity == "nanded":
  print ( "hello nanded.. abc")
elif acity=="mumbai":
  print (" hello bhai logo...hiyy :")
elif acity== "kolkatta ":
  print ("ami tumake bhalu bacche..... rajendraaa:")

else:
  print ("your enterd city is invalid")

enter your city name :mumbai
 hello bhai logo...hiyy :

In [ ]:
a.rstrip()

' Data'

**Finding Substrings:**
We can use the following 4 methods

For forward direction:

1) find()

2) index()

For backward direction:

1) rfind()

2) rindex()

1) find()

In [24]:
# find(): Returns index of first occurrence of the given substring. If it is not available then we will
# get -1.
s="data"
s.find("data") #0th index

0

In [ ]:
#s.find(substring,bEgin,end)
s.find("a",5,4)

-1

2)index()

index() method is exactly same as find() method except that if the specified substring is not available then we will get ValueError.

In [ ]:
# we will get a error if the substring is not available
s.index('m')

ValueError: ignored

In [ ]:
s.index("a")

1

 Program to display all Positions of Substring in a given Main String

In [ ]:
a=input("Entermainstring:")
aubs=input("Entersubstring:")
flag=False
pos=-1
n=len(a)
while True:
  pos=s.find(aubs,pos+1,n)
  if pos==-1:
    break
  print("Found at position",pos)
  flag=True
if flag==False:
  print("Not Found")

Entermainstring:1
Entersubstring:2
Not Found

# **Count substring in the given String:**

We can find the number of occurrences of substring present in the given string by using count() method.

s.count(substring)-->It will search through out the string.

s.count(substring, bEgin, end)-->It will search from bEgin index to end-1 index.

In [ ]:
a="abcabcabcabcadda"
print(a.count('c'))

4

**Replacing a String with another String:**
s.replace(oldstring, newstring)

Inside s, every occurrence of old String will be replaced with new String.

In [ ]:
s="Learning Python is very difficult"
s1=s.replace("difficult","easy")
print(s1)

Learning Python is very easy

In [28]:
a="in nagpur temerathure is to high"
a1=a.replace("low","high")
print(a1)

in nagpur temerathure is to high

# Splitting of Strings:

We can split the given string according to specified seperator by using split() method.

Syntax: l = s.split(seperator)

In [ ]:
s="22-02-2018"
l=s.split('-')
for x in l:
  print(x)

22
02
2018

# **Joining Of Strings:**
s = seperator.join(group of strings)

In [45]:
list1=["data","science","ai"]
"-".join(list1)

'data-science-ai'

In [47]:
list2 = ["important", "work","python"]
"-".join(list2)

'important-work-python'

# **Changing the case of a string:**
Changing the case of a string:
upper()-->To convert all characters to upper case.

lower()-->To convert all characters to lower case.

swapcase() --> Converts all lower case characters to upper case and all upper case characters to lower case

title() --> To convert all character to title case. i.e first character in every word should be upper case and all remaining characters should be in lower case.

capitalize() --> Only first character will be converted to upper case and all remaining characters can be converted to lower case.

In [48]:
s='learning Python is very Easy'
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.capitalize())

LEARNING PYTHON IS VERY EASY
learning python is very easy
LEARNING pYTHON IS VERY eASY
Learning Python Is Very Easy
Learning python is very easy

In [51]:
a=" whwere are you going man"
print(a.upper())
print(a.lower())
print(a.swapcase())
print(a.title())
print(a.capitalize())

 WHWERE ARE YOU GOING MAN
 whwere are you going man
 WHWERE ARE YOU GOING MAN
 Whwere Are You Going Man
 whwere are you going man

# **Checking Starting and Ending Part of the String:**
Python contains the following methods for this purpose.

s.startswith(substring)

s.endswith(substring)

In [53]:
s= " where are you going man"
print(s.startswith("going"))
print(s.startswith("are"))
print(s.endswith("you"))

False
False
False

# **To Check Type of Characters Present in a String:**
Python contains the following methods for this purpose.

isalnum(): Returns True if all characters are alphanumeric( a to z , A to Z ,0 to9 ).

isalpha(): Returns True if all characters are only alphabet symbols(a to z,A to Z)

isdigit(): Returns True if all characters are digits only( 0 to 9)

islower(): Returns True if all characters are lower case alphabet symbols

isupper(): Returns True if all characters are upper case aplhabet symbols

istitle(): Returns True if string is in title case

isspace(): Returns True if string contains only spaces

In [55]:
print('Datascience018'.isalnum()) # True

True

In [57]:
print("Akash".islower()) # false

False

# **Formatting the Strings:**
We can format the strings with variable values by using replacement operator {} and format() method.

In [58]:
name='rajesh'
salary=10000
age=31
print("{}'s salary is {} and his age is{}".format(name,salary,age))
print("{0}'s salary is {1} and his age is {2}".format(name,salary,age))
print("{x}'s salary is {y} and his age is {z}".format(z=age,y=salary,x=name))

rajesh's salary is 10000 and his age is31
rajesh's salary is 10000 and his age is 31
rajesh's salary is 10000 and his age is 31

In [69]:
name ="akash"
salary=50000
age=29
print("{} s salary is {} and his age is {}" . format(name ,salary,age))

akash s salary is 50000 and his age is 29

In [ ]:
#Q1) Write a Program to Reverse the given String

In [72]:
s=input("EnterSomeString:")
print(s[::-1])

EnterSomeString:"akash".
."hsaka"

In [73]:
s= 'akash'
''.join(reversed(s))

'hsaka'

Q2) Program to Reverse Order of Words

Input: Learning Python is very Easy

Output: Easy Very is Python Learning

In [74]:
s='Learning Python is very Easy'
l=s.split()
l1=[]
i=len(l)-1
while i>=0:
  l1.append(l[i])
  i=i-1
output=' '.join(l1)
print(output)

Easy very is Python Learning

In [81]:
x="akash muttalwad is good boy"
x= s.split()
x1 = []
i=len(x)+1
while i>=0:
  i=i-1
  output= ' '. join (x1)
  print(output)

Q3) Write a Program to Remove Duplicate Characters from the given Input String?

Input: ABCDABBCDABBBCCCDDEEEF

Output: ABCDEF

In [83]:
s=input("EnterSomeString:")
l=[]
for x in s:
  if x not in l:
     l.append(x)
output=''.join(l)
print(output)

EnterSomeString:aaaabbbbbcc dddddrr fvbafdgjahv huguguhbila  yfgi7u.
abc drfvgjhuily7.

Q4) Write a Program to find the Number of Occurrences of each Character present in the given String?

Input: ABCABCABBCDE

Output: A-3,B-4,C-3,D-1,E-1

In [84]:
s=input("Enter Some String:")
d={}
for x in s:
  if x in d.keys():
     d[x]=d[x]+1
  else:
     d[x]=1
for k,v in d.items():
   print("{} = {} Times".format(k,v))

Enter Some String:"aksh gdmdbfub "
" = 2 Times
a = 1 Times
k = 1 Times
s = 1 Times
h = 1 Times
  = 2 Times
g = 1 Times
d = 2 Times
m = 1 Times
b = 2 Times
f = 1 Times
u = 1 Times

In [85]:
s="aaasssddd"
d={}
for x in s:
  if x in d.keys():
     d[x]=d[x]+1
  else:
     d[x]=1