<a href="https://colab.research.google.com/github/AkashMuttalwad/python-_Basic-/blob/main/8_Python_Basics_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SET - Data Structure**

1 If we want to represent a group of unique values as a single entity then we should go for set.

2 Duplicates are not allowed.

3Insertion order is not preserved.But we can sort the elements.

4 Indexing and slicing not allowed for the set.

5 Heterogeneous elements are allowed.
 
6 Set objects are mutable i.e once we creates set object we can perform any changes in that object based on our requirement.

7 We can represent set elements within curly braces and with comma seperation

8 We can apply mathematical operations like union, intersection, difference etc on set objects.

In [1]:
a= (20,30,40,50)
print(a)
print(type(a))

(20, 30, 40, 50)
<class 'tuple'>

In [12]:
#We can create set objects by using set() Function s = set(any sequence)
l=[10,20,30,40,10,20,10]
a=set(l)
print(a) #{50,10,20,30}

{40, 10, 20, 30}

In [17]:
x=set(range(10))
print (x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# **Important Functions of Set:**

In [18]:
# 1) add(x): add item x to the set
s={10,20,30}
s.add(40);
print(s)#{40,10,20,30}

{40, 10, 20, 30}

In [19]:
#adding operation 
x={10,10,50,20,30,40}
x.add(100);
print(x)

{100, 40, 10, 50, 20, 30}

In [20]:
# 2)  update(x,y,z): add multiple items to the set
s={10,20,30}
l=[40,50,60,10]
s.update(l,range(5))
print(s)

{0, 1, 2, 3, 4, 40, 10, 50, 20, 60, 30}

In [25]:
#add multipale items in the set
x={10,20,40,50,30}
x.update(l,range(10))
print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 40, 8, 10, 9, 50, 20, 60, 30}

**What is the difference between add() and update() Functions in Set?(important question )**

We can use add() to add individual item to the Set,where as we can use update() function to add multiple items to Set.

add() function can take only one argument where as update() function can take any number of arguments.

In [26]:
#3. copy(): returns copy of the set(cloning)
s={10,20,30}
s1=s.copy()
print(s1)

{10, 20, 30}

In [31]:
x={10,40,50,50,60}
x1=x.copy()
print(x1)

{40, 10, 50, 60}

In [32]:
#4. pop(): It removes and returns some random element from the set
s={40,10,30,20}
print(s)
print(s.pop())
print(s)

{40, 10, 20, 30}
40
{10, 20, 30}

In [35]:
#pop 
x={10,30,20,50,10,80}
print(x)
print(x.pop())
print(x)

{10, 80, 50, 20, 30}
10
{80, 50, 20, 30}

In [36]:
#5. remove(x):removes specified item from the set
s={40,10,30,20}
s.remove(30)
print(s)

{40, 10, 20}

In [38]:
#removed
x={10,50,40,40,50,60}
x.remove(50)
print(x)

{40, 10, 60}

In [39]:
#6.  discard(): It removes specified element from the space
# If specified error not present in the set then it will not throw error
s={40,10,30,20}
s.discard(30)
print(s)

{40, 10, 20}

In [40]:
# discard
x={10,50,40,40,50,60}
x.discard(40)
print(x)

{10, 50, 60}

In [41]:
#7. clear(): to remove all the elements from the set
s={10,20,30}
print(s)
s.clear()
print(s)

{10, 20, 30}
set()

In [42]:
#clear 
x={10,50,40,40,50,60}
print(x)
x.clear()
print(x)

{40, 10, 50, 60}
set()

# **IMPORTANT **

Mathematical Operations on the Set:

In [43]:
#1. union(): 
# Syntax: x.union(y) OR x|y: Return all the elements present in both sets
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y))#{10,20,30,40,50,60}
print (x|y)#{10, 20, 30, 40, 50, 60}

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [47]:
#union()
a={10,50,40,30,60,20}
b={10,20,30,50,70}
c={30,50,40,60,80}
print(a.union (b))
print(a|b )
print(a-c)

{70, 40, 10, 50, 20, 60, 30}
{70, 40, 10, 50, 20, 60, 30}
{10, 20}

In [48]:
# 2. intersection():
#Syntax: x.intersection(y) or x&y
#Returns common elements present in both x and y
x={10,20,30,40}
y={30,40,50,60}
print(x.intersection(y))#{40,30}
print(x&y)#{40, 30}

{40, 30}
{40, 30}

In [49]:
# 2. intersection():
a= {1,2,3,4,1,2,6,7}
b={1,2,5,4,3,1,5.7}
print(a.intersection(a))
print(a&b)

{1, 2, 3, 4, 6, 7}
{1, 2, 3, 4}

In [50]:
# 3. difference():
# Syntax: x.difference(y) OR x-y.
#Returns the elements present in x but not in y.
x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y))#10, 20
print(x-y)#{10, 20}
print(y-x)#{50, 60}

{10, 20}
{10, 20}
{50, 60}

In [51]:
#4. symmetric_difference():
# x.symmetric_difference(y) OR x^y
#Returns elements present in either x OR y but not in both.
x={10,20,30,40}
y={30,40,50,60}
print(x.symmetric_difference(y))#{10,50,20,60}
print(x^y)#{10, 50, 20, 60}

{10, 50, 20, 60}
{10, 50, 20, 60}

# **Membership Operators: (in, not in)**

In [56]:
#Set comprehension is possible.
s = {x*x*x*x for x in range(10)}
print(s)#{0,1,4,9,16}

{0, 1, 256, 2401, 4096, 6561, 16, 81, 625, 1296}

# **Set Objects won't support indexing and slicing:**

In [57]:
s={10,20,30,40}
print(s[0])# TypeError:'set'objectdoesnotsupportindexing
print(s[1:3])# TypeError: 'set' object is not subscriptable

TypeError: ignored

# **Homework**

Write a Program to eliminate Duplicates Present in the List?

In [58]:
a={10,20,20,50,40,30,20,10,50,80,90}
b= {20,30,40,50,60,10,80,40,30,50}
print(a.symmetric_difference(b))

{90, 60}

**Write a Program to Print different Vowels Present in the given Word?(Using intersection method**

In [61]:

a= {1,2,3,4,1,2,6,7}
b={1,2,5,4,3,1,5.7}
print(a.intersection(a))
print(a-b)

{1, 2, 3, 4, 6, 7}
{6, 7}