<a href="https://colab.research.google.com/github/AkashMuttalwad/python-_Basic-/blob/main/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Assignment 01**

What is a List? 

֍ If we want to represent a group of individual objects as a single entity 

֍ List is dynamic because based on our requirement we can increase the size and decrease the size.

֍ In List the elements will be placed within square brackets and with comma seperator.
֍ We can differentiate duplicate elements by using index and we can preserve insertion order by using index. 

֍ Python supports both positive and negative indexes. +ve index means from left to right where as negative index means right to left.

֍list is mutable we can be be added or remove operations  in list

In [ ]:
#example of LIst 
list=[10,20,30,40,50,60] #List the elements will be placed within square brackets
print(list)
print(type(list))

[10, 20, 30, 40, 50, 60]
<class 'list'>

# **What is a Tuple?**
֍ Tuple is exactly same as List except that it is immutable. i.e once we creates Tuple object, we cannot perform any changes in that object. Hence Tuple is Read only version of List.

֍ If our data is fixed and never changes then we should go for Tuple.

֍ Insertion Order is preserved Duplicates are allowed Heterogeneous objects are allowed.

 ֍ index will play very important role in Tuple also.
 Tuple support both +ve and -ve index. +ve index means forward direction (from left to right) and -ve index means backward direction (from right to left)

 ֍ We can represent Tuple elements within Parenthesis and with comma seperator.

In [ ]:
x=10,20,30,40,50,60 #parenthesis are optional in Tupel
print(x)
print(type(x))

(10, 20, 30, 40, 50, 60)
<class 'tuple'>

**What is the difference between List and Tuple?**

# **֍LIST **
- List is a group of separator values in square bracket , in list square bracket is compalsary #[1,2,3,4,5]

- list objectes are mutable , that's why once we creat a list we can perform any changes in list 

- if content is not fix then we should go for the list 

- list objectes can not be used keys dictinories because keys are immutable

**֍TUPLE**

- Tupel is group of comman sepreated values within paranthasis and paranthasis also optional in tupal (10,20,30,40,50) or 10,20,30,40,50

- tupel objects are immutable , that's why once we creat tuple we can not perform changes in tupal 

- if content is fix then we should go for the tupal 

- tupal objects can be used as keys of dictinories beacuse keys are immutable and tupal also immutable

**Python Program to find the largest element in the list**?

In [ ]:
marks = [50,55,75,85,65,48,35,25,99,95]
max_mark=max(marks)
print(max_mark)

99

**Python program to interchange first and last elements in a list.?**

- we can remove , interchange elements with the ghelp of (.pop function )

In [ ]:
a=[20,30,40,45,"akash",100]

b= a[0]  
c= a[-1]
a[0]=c    #swapping
a[-1]=b
print(a)

[100, 30, 40, 45, 'akash', 20]

 # **Python program to swap two elements in a list**  ?

- we can swap elements with the help of #swap function

In [ ]:
list= [10,20,30,80,90,50]
pos1,pos2=2,5
print(list)
print("swapped list:",(list,pos1-1,pos2-1))

[10, 20, 30, 80, 90, 50]
swapped list: ([10, 20, 30, 80, 90, 50], 1, 4)

# **Python program to Reverse a List ?**

we can Reverse a python program with the help of #Reverse function

In [ ]:
x = [20,30,40,50,60,"akash","ajay",50]
x.reverse()#reverse function
print(x)

[50, 'ajasy', 'akash', 60, 50, 40, 30, 20]

# **Python program to count occurrences of an element in a list.**?
- with the help of count function we can find occurance of elements in python

In [ ]:
marks=[50,35,80,85,99,85,40,50,40,50,60,50,80,95,95,80,60]
marks.count(80) #occuranceor count

3

# **Python program to find the sum of elements in a list.**?
- with the help of Sum function we can find the sum of elements in python

In [ ]:
a=[10,50,80,90,90,150]
sum=0
for i in a:
  sum=sum+i
  print(sum)

10
60
140
230
320
470

# **Python program to Multiply all numbers in the list**

- with the help of multipication function we can multiply the elements

In [ ]:
x= [50,202,23,245,555]
mul = 1     
for i in x:
  mul = mul*i
print("multiply of list :",mul)

multiply of list : 31586992500

# **What are the ways to find the length of a list ?**
- we can find the lenght of python program with the help of (len function )

In [ ]:
a=[10,50,50,'akash',4,45,45]
len(a)

7

# ** Python program to find the smallest and largest number in a list (Without min-max function**?

In [ ]:
a = int(input("Enter a number : "))
b= int(input("Enter a number : "))
c= int(input("Enter a number : "))


if a>b and a>c :
  print("Largest number is :", a)
elif b>c:
  print("Largest number is : ",b)
else :
  print("Largest number is : ",c)

Enter a number : 45
Enter a number : 78
Enter a number : 41
Largest number is :  78

# Python Program to find the area of a circle ?**bold text**
-pir*2 is the formula for area of circule 
- pi value = 3.14 But we need to import math dict. for the value of pi

In [ ]:
import math
r= int(input("the value of the radius"))
a=3.14*r**2
print("area of the circule:",a)

the value of the radius5
area of the circule: 78.5

In [1]:
#formula of area of circule A=pi r square 
import math 

x=input("Enter radius of circule")
r=int(x)
a=3.14*r**2
print("area of circule",a)

Enter radius of circule87
area of circule 23766.66

# **Take inputs from the user to make a list. Again take one input from the user and search it in the list and delete that element, if found. Iterate over a list using for loop.**?

In [5]:
a=eval (input("enter the list"))
c=[]
b=eval(input("find in list")) #elements in list or not 
print(b in a)

enter the list10,20,30,40,50
find in list40
True

# **You are given a list of integer elements. Make a new list that will store a square of elements of the previous list. (With and without list comprehension ?**

i. Input_list = [2,5,6,12]

ii. Output_list = [4,25,36,144]

In [14]:
a=[2,5,6,12]
for i in a:
  i=i*i
  print(i)

4
25
36
144

In [15]:
x = [2,5,6,12]
y= [] #creating empty list 
for i in x:
  i=i*i   
  y.append(i) #append new items in list
print(y)

[4, 25, 36, 144]