<a href="https://colab.research.google.com/github/AkashMuttalwad/python-_Basic-/blob/main/Copy_of_10_Python_Basics_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions**

֍ If a group of statements is repeatedly required then it is not recommended to write these statements everytime seperately.We have to define these statements as a single unit and we can call that unit any number of times based on our requirement without rewriting. This unit is nothing but function.

֍ The main advantage of functions is code Reusability.

֍ Python supports two types of functions:

1- Built-in function

2- User defined function

1- Built in Functions: The functions which are coming along with Python software automatically, are called built in functions or pre defined functions

2- User defined function: The functions which are developed by programmer explicitly according to business requirements, are called user defined functions.

Syntax:

def function_name(parameters):

''' doc string'''

python code

return value

# **Parameters**

Parameters are inputs to the function. If a function contains parameters, then at the time of calling,compulsory we should provide values otherwise,otherwise we will get error

Eg: Write a function to take name of the student as input and print wish message by name.

In [ ]:
 def wish ( name):
   print ( "hello", name ,"good mornning")

In [ ]:
wish ('akash')

hello akash good mornning

In [ ]:
def note (msg):
  print("hello",msg, "good evening")

In [ ]:
note ( "please keep distance")

hello please keep distance good evening

In [ ]:
# Eg: Write a function to take number as input and print its square value
def pow(num):
  print(num*num)

In [ ]:
 pow(5)

25

In [ ]:
def squre (num) :
  print ( num*num)

In [ ]:
squre (10)

100

# **Return Statement:**

Function can take input values as parameters and executes business logic, and returns output to the caller with return statement.

1- Write a Function to accept 2 Numbers as Input and return Sum

In [ ]:
def squareIt(number):
  print(number*number)

In [ ]:
print(10*5)

50

In [ ]:
def mul (num):
 print( num*num)

In [ ]:
mul (10*50*2*5*3)

225000000

In [ ]:
def pow(num):
   print(num^num)

In [ ]:
pow(5)

0

In [ ]:
"""Q) Write a Function to check whether the given Number is
  Even OR Odd?"""

def even_odd(num):
   if num%2==0:
     print(num,"is Even Number")
   else:
     print(num,"is Odd Number")

In [ ]:
even_odd (10)

10 is Even Number

In [ ]:
def odd_even(num):
  if num%2==0:
    print(num,"is odd number")
  else:
      print(num,"is even number" )

In [ ]:
odd_even (10)

10 is odd number

In [ ]:
"Q) Write a Function to find Factorial of given Number?"
def factorial (num):
  result = 1
  while num>=1:result = result*num
  num = num = 1
  return result

# **Returning Multiple Values from a Function:**

In [ ]:
def sum_sub(a,b):
    sum=a+b
    sub=a-b
    return sum,sub

In [ ]:
x,y=sum_sub(100,50)
print("The Sum is:",x)
print("The Subtraction is:",y)

The Sum is: 150
The Subtraction is: 50

In [ ]:
sum_sub (100,50)

(150, 50)

In [ ]:
#example of multipication & substraction 

def mul_sub (x,y):
    mul = (x*y)
    sub = (x-y)
    return  mul,sub

In [ ]:
x,y= mul_sub(30,20)
print("the mul is:",x)
print("the sub is:",y)

the mul is: 600
the sub is: 10

In [ ]:
mul_sub (30,20)

(600, 10)

# **Types of Arguments**

def f1(a,b):

-

-

f1(10,20)

a, b are formal arguments where as 10,20 are actual arguments.

There are 4 types are actual arguments are allowed in Python.

** Positional Arguments
Keyword Arguments
Default Arguments
Variable length arguments **

# **1. Positional Arguments**

These are the arguments passed to function in correct positional order.

def sub(a, b):

print(a-b)

sub(100, 200)

sub(200, 100)

The number of arguments and position of arguments must be matched. If we change the order then result may be changed.

# **2. Keyword Arguments:**

We can pass argument values by keyword i.e by parameter name.

In [ ]:
def wish(name,msg):
    print("Hello",name,msg)

In [ ]:
wish(name="Akash",msg="Good evening")

Hello Akash Good evening

In [ ]:
#position changed. Still working
wish(msg="Good evening",name="Akash")

Hello Akash Good evening

In [ ]:
def note (msg,name):
  print("hello",name,msg)

In [ ]:
note (msg="keep distance",name= 'akash')

hello akash keep distance

# **3. Default Arguments:**

Sometimes we can provide default values for our positional arguments.

In [ ]:
def gritting (name="mr."):
    print("Hello",name,"Good Morning")

In [ ]:
gritting ("akash")

Hello akash Good Morning

In [ ]:
gritting()

Hello mr. Good Morning

# **4. Variable Length Arguments:**

Sometimes we can pass variable number of arguments to our function, such type of arguments are called variable length arguments.

We can declare a variable length argument with * symbol as follows

def f1(*n):

We can call this function by passing any number of arguments including zero number.

Internally all these values represented in the form of tuple.

In [ ]:
def sum(*n):
    total=0
    for n1 in n:
      total=total+n1
    print("The Sum=",total)

In [ ]:
sum()

The Sum= 0

In [ ]:
sum(5)

The Sum= 5

In [ ]:
sum(20,5)

The Sum= 25

In [ ]:
sum(5,10,20,50,100)

The Sum= 185

In [ ]:
# We can mix variable length arguments with positional arguments.

In [ ]:
def f1(n1,*s):
    print(n1)
    for s1 in s:
      print(s1)

In [ ]:
f1(5)

5

In [ ]:
f1(5,10,15,20,25,30,35)

5
10
15
20
25
30
35

In [ ]:
f1(5,0.5,"a","akash","true",120)

5
0.5
a
akash
true
120

**Note: After variable length argument,if we are taking any other arguments then we should provide values as keyword arguments.**

In [ ]:
def f1(*s,n1):
    for s1 in s:
      print(s1)
    print(n1)

f1("A","B",n1=5)

A
B
5

**Note: We can declare key word variable length arguments also.**
We can call this function by passing any number of keyword arguments. Internally these keyword arguments will be stored inside a dictionary.

In [ ]:
def display(**kwargs):
    for k,v in kwargs.items():
       print(k,"=",v)

In [ ]:
display(n1=10,n2=20,n3=30)

n1 = 10
n2 = 20
n3 = 30

In [ ]:
display(rollnumber=105,name="akash",marks=85,subject="math")

rollnumber = 105
name = akash
marks = 85
subject = math

In [ ]:
display(employeID=111,name="akash", performance="good",activity="project")

employeID = 111
name = akash
performance = good
activity = project

# **Note: Function vs Module vs Library**

A group of lines with some name is called a function

A group of functions saved to a file, is called Module

A group of Modules is nothing but Library

# **Types of Variables**

Python supports 2 types of variables.

1-Global Variables

2-Local Variables

In [ ]:
a=5 # global variable(defined outside the function)
def f1():
   print(a)

def f2():
    print(a)

f1()
f2()

5
5

Local Variables:

The variables which are declared inside a function are called local variables.

Local variables are available only for the function in which we declared it.

In [ ]:
def f1():
    a=105
    print(a) # valid

In [ ]:
f1()

105

In [ ]:
# We didn't
def f22():
    print(b) #invalid # must to define variables 

f22()

NameError: ignored

"""Note: If global variable and local variable having the same name then we can access
  global variable inside a function as follows"""

In [ ]:
a = 10#Global Variable
def f1():
    a=777 # Local Variable
    print(a)
    print(globals()['a'])
f1()

777
10

In [ ]:
x = 105 # globale variable
def f1():
  x=145 #local variable
  print(a)
  print(globals()["a"])

# **Recursive Function:**

A function that calls itself is known as Recursive Function.

Main advantages of recursive functions are:

We can reduce length of the code and improves readability.
We can solve complex problems very easily.

E.g.

factorial(3) = 3 * factorial(2)

= 3 2 factorial(1)

=321*factorial(0)

=321*1

=6

factorial(n) = n * factorial(n-1)

In [ ]:
'''Write a Python Function to find Factorial of given
  Number with Recursion'''

def factorial(n):
    if n==0:
      result=1
    else:
      result=n*factorial(n-1)
    return result
print("Factorial of 4 is:",factorial(4))
print("Factorial of 5 is:",factorial(5))

Factorial of 4 is: 24
Factorial of 5 is: 120

In [ ]:
#exaple 
def factorial(n):
  if n==0:
    result =1
  else:
      result=n*factorial(n-1)
return result
  print("factorial of 5 is:", fact (5))
  print("factorial of 10 is :", fact (10))

IndentationError: ignored