<a href="https://colab.research.google.com/github/AkashMuttalwad/python-_Basic-/blob/main/Copy_of_Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **What’s The Difference Between The Python append() and extend() Methods?**
- in append() method adds an element to a list
- in extend() method concatenates the first list with another list (or another iterable).

There is a simple difference between append and extand  in python list,
append method can be use for adding new element in the list only but by using insert we can add as well as can modify already occupied position.

In [ ]:
#append exmple 
list = [1,2,3,4,5]

list.append(6)

print(list) # [1,2,3,4,5,6] # append 6 in list

[1, 2, 3, 4, 5, 6]

In [ ]:
#Extend exmple
x = [1, 2, 3]
x.extend([4, 5])
print (x)

[1, 2, 3, 4, 5]

we can take in append function only one value For append but in extand function Extend can add multipale values in list

# **Write a Python program to append a list to the second list**?

In [7]:


a = [10,20,30,40,50,"akash","satish",100]
b = [20,40,60,80,100]  #this list cancider as one elements
a.append(b)
print(b)
print(a)

[20, 40, 60, 80, 100]
[10, 20, 30, 40, 50, 'akash', 'satish', 100, [20, 40, 60, 80, 100]]

# **Write a Python program to find the third-largest number in a list ?**

In [10]:
#using sort () sort function

x = [20,30,40,60,90,120,150,170,200]
x.sort()
print(x)
print(x[3]) # 3rd largest number in list

[20, 30, 40, 60, 90, 120, 150, 170, 200]
60

# **Write a Python program to get the frequency of the elements in a list.?**

In [ ]:
#count(): It give us to the frequancy of the elements in list .
n=[1,2,50,40,10,1,50,2,50,20,"ram","akash","ram", "akash"]
print(n.count(1))
print(n.count(50))
print(n.count("ram"))

2
3
2

# **Write a Python program to check whether a list contains a sublist  ?**

-  we can take one list inside another list. Such type of lists are called nested

In [13]:
x = [10,20,30,40,40,50,80,100]   
x1 = [20,60,90,120,50]  #sublist
x2=x1
for i in x1:
  if True:
    print("the sublist element",i ,"is in  list")
  else:
    print("the sublist element",i ,"is not in  list")

the sublist element 20 is in  list
the sublist element 60 is in  list
the sublist element 90 is in  list
the sublist element 120 is in  list
the sublist element 50 is in  list

***Write a Python program to generate all sublists of a list ?***

In [ ]:
nmark=[10,20,[30,40]]
print(n)
print(n[0])
print(n[2])
print(n[2][0])
print(n[2][1])

[10, 20, [30, 40]]
10
[30, 40]
30
40

# **Write a Python program to find common items from two lists ?**

**- we can find common items with the help of #list comprehension function **

In [ ]:
num1=[10,20,30,40]
num2=[30,40,50,60]
num3=[i for i in num1 if i not in num2]
print(num3)

[10, 20]

In [ ]:
set1 =[10,"akash",12,50,102,"satish","Akash",102,50,12,102,"satish"]
set2= ["akash",12,50,102,500,40,50,102,"satish"]
set3=[i for i in set1 if i not in set2]
print(set3)

[10, 'Akash']

# **How to flatten a list in python?**

In [18]:
list1 = [[10,20],[30,40],[50,60]]

list2 = sum(list1,[])    # using sum operator we can flatten a list 
list2

[10, 20, 30, 40, 50, 60]

# **How to sort a list in ascending and descending order without using the sort function?**

In [ ]:
n=[20,5,15,10,0]
n.sort() # short method
print(n)

[0, 5, 10, 15, 20]

# **How to sort a tuple?**

In [ ]:
aTuple = (2, 5, 8, 1, 9, 3, 7)
result = sorted(aTuple)
result = tuple(result)
print('Sorted Tuple :', result)

Sorted Tuple : (1, 2, 3, 5, 7, 8, 9)

# **Write a Python program to convert a list of multiple integers into a single integer ?**

In [20]:
# creating a list
lst = [12, 15, 17]
  
# iterating each element
for i in lst:
    print(i, end="")

121517

# **Difference between del and clear ?**

In Python dictionary, del keyword is used to delete a particular element. The clear( ) function is used to delete all the elements in a dictionary.

In [27]:
n=[10,20,30,40]
print(n)
n.clear()# clear to delete all elements 
print(n)

[10, 20, 30, 40]
[]

In [28]:
x = ["apple", "banana", "cherry"]

del x[1]#del function particular elements delete
print(x)

['apple', 'cherry']

# *Difference between remove and pop?*
**The only difference between the two is that- pop return deleted the value from the list and del does not return anything. Pop is the only way that returns the object. Remove is the only one that searches objects (not index).**

# Remove
1 - we can use this function for remove special elements from list 

2- it can't return any value 

3- if special elements not avialable then we get value error 

# **POP**

1- we can use pop function for to use remove last elements from the list 

2- it wil be return removed value 

3- if list is Emepty then it gives error

In [23]:
#remove 
n=[10,20,10,30]
n.remove(10,)# remove function 
print(n)

[20, 10, 30]

In [24]:
#pop function
n=[10,20,30,40]
print(n.pop())# pop function remove last element 
print(n.pop())# pop function remove last element 
print(n)

40
30
[10, 20]

# **Difference between indexing and Slicing?**

**“Indexing” means referring to an element of an iterable by its position within the iterable. “Slicing” means getting a subset of elements from an iterable based on their indices**

indexing: using indexing we can call just indexing item in list or tuple

slicing : useing index we can slice list items in range. and also we can decide start , end and steps as well.

note : indexing from left side starts from "0", and from right side starts from -1

if index value not in range of list indexing shows error but in slicing never show error

In [33]:
x = [10,20,30,40,50,"akash",100,"mangesh"]

print(x[5]) # #indexing
print(x[6])

akash
100

In [36]:
# slicing  
x = [20,30,40,50,60,90,102,150,150,"akash","amol","shri"]
print(x[:])
print(x[1])
print(x[1:2])
print(x[2:6])

[20, 30, 40, 50, 60, 90, 102, 150, 150, 'akash', 'amol', 'shri']
30
[30]
[40, 50, 60, 90]

# **Difference between sort and sorted?**

- **reverse() actually reverses the elements in the container. reversed() doesn't actually reverse anything, it merely returns an object that can be used to iterate over the container's elements in reverse order. If that's what you need, it's often faster than actually reversing the elements. **

In [38]:
a = [10,20,40,51,55,62]   
a.reverse() # all elements reverse
print(l)

[62, 55, 51, 40, 20, 10]

In [48]:
a = [10,15,47,86,21,45]
reversed(a)
print(a)

[10, 15, 47, 86, 21, 45]

# **. Difference between copy and deep copy?**

copy() create reference to original object. If you change copied object - you change the original object. . deepcopy() creates new object and does real copying of original object to new one. Changing new deepcopied object doesn't affect original object.

copy means constructing a new collection object and then populating it with references to the child objects found in the original. The copying process does not recurse and therefore won’t create copies of the child objects themselves. In case of shallow copy, a reference of object is copied in other object. It means that any changes made to a copy of object do reflect in the original object. In python, this is implemented using “copy()” function.

In [65]:
import copy
l = [10,30,30,40,50,60]

l1=copy.copy(2)#copy

print(l)
print(l1)
print(id(l))

[10, 30, 30, 40, 50, 60]
2
140382139858768

In [66]:
l = [10,30,30,40,50,60]
a1=copy.deepcopy(a) #deepcopy

print(a)
print(a1)
print(id(a))

[10, 15, 47, 86, 21, 45]
[10, 15, 47, 86, 21, 45]
140382139828576

# ** How to check whether the list is empty or not?**

Empty lists are considered False in Python, hence the bool() function would return False if the list was passed as an argument. Other methods you can use to check if a list is empty are placing it inside an if statement, using the len() methods, or comparing it with an empty list.

In [49]:
p = [] #empty list always false
bool(p)

False

In [51]:
p =[10,20,30,40,50,60]
bool(p)

True

# **How to concatenate two lists?**
- using Add (+) function we can concantenate two list

In [52]:
list1 =["akash","arvind",20,50,40,80]
list2 =[ "shital","jay",20,50,90,100]
list3=list1+ list2
print(list3)

['akash', 'arvind', 20, 50, 40, 80, 'shital', 'jay', 20, 50, 90, 100]

# ** How to find the occurrences of an element in the python list?**

- using count function we can find the occurances of an elements

In [54]:
x=[1,5,8,10,5,1,2,5,8,2,8,2,9,5,9,10,9,10.2]
print(x.count(1))
print(x.count(10))
print(x.count(5))
print(x.count(2))

2
2
4
3

# **How to flatten a list in python?**

In [57]:
marks = [[50,66,],[40,45,77],[35,52]]
flatten(marks) # using flatten function

[50, 66, 40, 45, 77, 35, 52]