<a href="https://colab.research.google.com/github/AkashMuttalwad/python-_Basic-/blob/main/python_basics_07_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuple**

is same as list but immutable considers heterogenious, duplicate elements, +ve as well as -ve indexes,seperated by comma, enclosed parenthesis.

In [1]:
t=10,'arvind',30,'more','$$'   
print(t)
print(type(t))

#parenthesis are optional

(10, 'arvind', 30, 'more', '$$')
<class 'tuple'>

**Accessing Elements of Tuple:**

We can access either by index or by slice operator

In [3]:
t=('ram','shyam','Sandeep','komal','Akash','satish','shri','arvind')
print(t[5])
print(t[2])
print(t[0])

satish
Sandeep
ram

In [9]:
print(t [::] )

('ram', 'shyam', 'Sandeep', 'komal', 'Akash', 'satish', 'shri', 'arvind')

In [10]:
print (t[:-5])

('ram', 'shyam', 'Sandeep')

**tuple objects are immutable**

In [12]:
a=(1,2,3)
a[2]=1

TypeError: ignored

**Mathematical Operators for Tuple:**

In [14]:
a1=('a','b','c')
a2=(50,20,160)
a3=a1+a2
print(a3)

('a', 'b', 'c', 50, 20, 160)

In [15]:
a1=(1,2,3,4,5)
a2=a1*3
print(a2)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

**Important Functions of Tuple:**

In [16]:
x= (1,2,3,4,5,6,9,10)  
#measures lenght
len(x)

8

In [24]:
x= (1,2,2,2,3,3,3,3,4,4,1212,1212,11,11,12,13,12,15,14)
x.count(11)
#count

2

In [25]:

t=(10,20,10)
t.index(20)
# index(): Returns index of first occurrence of the given element.

1

In [26]:
t=(1,3,3,2,4,5,6)
t1 = sorted(t)
print(t1)

[1, 2, 3, 3, 4, 5, 6]

In [27]:
t2 = sorted(t, reverse = True)
print(t2)

[6, 5, 4, 3, 3, 2, 1]

In [28]:
t=(11,22,33,44,55,66,77)
print(min(t))
print(max(t))

11
77